/* App.css */

/* Apply black background to the whole page */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black; /* Set background color to black */
  color: white; /* White text color to contrast the black background */
}

/* Ensure the App div is full height */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  flex-direction: column;
}

